#logo
{
  color: red;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
}

.important
{
  font-size: 15px;
}
.important:before
{
  color: #7e0000;
  content: "⚠";
  margin-right: 5px;
}

ul
{
  list-style-type: none;
}

ul > li > ol
{
  list-style-type: none;
  display: none;
}

label
{
  cursor: pointer;
  color: black;
}

label:hover
{
  color: white;
}

/*Usuwa znaczek checkboxa a nie ol!*/
input[type=checkbox]{
  display: none;
}

input[type=checkbox]:checked ~ ol
{
  display: block;
}
