.container
{
    position: relative;
    margin-top: 147px;
}

.content
{
  padding: 30px 115px 30px 115px;
}

.foto
{
  position: absolute;
  left: -100px;
  top: -125px;
  width: 200px;
  height: 250px;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,1);
  -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,1);
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,1);
}

.dane
{
  position: absolute;
  left: 100px;
  top: -125px;
  width: 700px;
  height: 250px;
  padding: 5px;
  margin-left: 10px;
}

p.signature
{
  color: red;
  font-size: 30px;
  letter-spacing: 3px;
}

.contact
{
  color: #CCC;
  margin: 0px;
  font-size: 15px;
  float: left;
}

.contactdata
{
  margin: 0px;
  margin-left: 3px;
  font-size: 15px;
  float: left;
}

.typ_zawartosci
{
  color: #A00000;
  font-size: 25px;
  letter-spacing: 3px;
}

.data
{
  float: left;
  margin: 15px;
  margin-left: 40px;
  width: 120px;
  color: #CCC;
  font-size: 18px;
  letter-spacing: 0px;
}

.zawartosc
{
  float: left;
  margin: 15px;
  color: white;
  font-size: 18px;
  letter-spacing: 0px;
}

h1
{
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

h2
{
  margin: 0;
  font-size: 18px;
  color: #CCC;
}

ul
{
  margin: 0;
}

p.dopisek
{
  font-size: 16px;
  color: #CCC;
}
